body
{
    background-color:aqua;
    text-align:start;
    text-anchor:inherit;
}
h1 {
    font-size: 40px;
    text-align: center;
    background-color:mediumvioletred;
    color: white;
}

h2
{
    color:mediumvioletred;
    text-align:left;
}